{% extends "layout.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}

<table width=100% border=0 cellspacing=1 cellpadding=1 name=First>
    <tr><th>Category</th><th>Subcategory</th><th>Subject</th></tr> 
{% for f  in form %}
    <tr><th> {{ f.category}} </th><th> {{ f.subcategory}} </th>
        <!-- <th> <a href="/view/{{ f.id }}"> {{ f.subject }} </a> </th> -->
        <th> <a href="{{ url_for('pkv', id=f.id) }} "> {{ f.subject }} </a> </th>
    </tr> 
  {% endfor %}
</table>

<a href="id"> </a>


{% endblock content %}